.language-select{
    padding: 7px 3px !important;
    padding-right: 12px !important;
}
.compare {
    overflow-x: hidden;
    
    margin: 25px 0;
    // .compare__header
    &__header {
        display: flex;
    }
    
    .header-right-wrapper{
        width: 100%;
    }
    &__active-text{
        color: green;
    }
    &__active-line{
        background-color: #fff;
        width: 107%;
    }
    &__switch{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        
        input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
    &__switch-slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
        padding: 20px;
        padding-right: 45px;
        
        &::before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 6px;
            bottom: 8px;
            background-color: darkblue;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
    
    input:checked + .office__switch-slider {
        background-color: #fff;
    }
    
    input:focus + .office__switch-slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .office__switch-slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }   
    // .compare__header-title
    &__header-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
        margin-right: 120px;
        
        @media (max-width: $breakpoint480) {
            font-size: 20px;
            line-height: 20px;
        }
    }
    // .compare__grid
    &__grid {
        display: grid; 
        grid-auto-columns: 1fr 1fr; 
        grid-template-columns: repeat(4, minmax(240px, auto)); 
        gap: 20px 20px; 
        overflow-y: hidden;
        grid-template-areas: 
        "compare__menu prod-1 prod-2 prod-3"
        "tex-1 tex-2 tex-3 tex-4"; 
        
        .compare__menu { grid-area: compare__menu; }
        .prod-1 { grid-area: prod-1; }
        .prod-2 { grid-area: prod-2; }
        .prod-3 { grid-area: prod-3; }
        .tex-1 { grid-area: tex-1; }
        .tex-2 { grid-area: tex-2; }
        .tex-3 { grid-area: tex-3; }
        .tex-4 { grid-area: tex-4; }
        
        max-width: 100%;
        width: 100%;
        // width: 900px;
        overflow-x: auto;
    }
    // .compare__menu
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        p{
            color: red;
            border-bottom: 1px dashed red;
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
        }
    }
    // .compare__menu-item
    &__menu-item {
        padding: 20px;
        background: $mainWhite;
        color: $mainBlack;
        
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            color: $mainGreen;
        }
        &:hover span{
            background: $mainGreen;
            color: #fff;      
        }
        
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            font-weight: 700;
            font-size: 12px;
            color: $mainBlue;
            padding: 4px;
            border-radius: 4px;
            background: $mainBlueLight;
        }
    }
    // .compare__tex
    &__tex {
        
        p {
            font-weight: 700;
            font-size: 16px;
            // line-height: 26px;
            
            @media (max-width: $breakpoint768) {
                font-size: 14px;
            }
        }
    }
    // .compare__tex-item
    &__tex-item {
        padding: 20px 0;
        border-top: 1px solid #e7e9ec;
        border-bottom: 1px solid ;
        
        @media (max-width: $breakpoint768) {
            padding: 10px 0;
        }
    }
    
    table, th, td {
        border-collapse: collapse;
    }
    tr{
        border-top: 2px solid #e7e9ec;
        border-bottom: 2px solid #e7e9ec;
        cursor: pointer;
        &:hover  th{
            color: $mainGreen;
            background-color: #fff;

        }
        &:hover  td{
            background-color: #fff;
        }
    }
    th{
        font-weight: 700;
        font-size: 16px;
    }
    th, td {
        padding: 16px 0;
        text-align: left;
    }
    td{
        padding: 16px 8px;
    }
    // .compare__tex-box
    &__tex-box {
    }
    
    .category__product-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .category {
        // .category__product
        &__product {
            margin-bottom: 24px;
            // .back-btn{
            //     position: absolute;
            //     bottom: 0;
            // }
        }
        // .category__product-img
        &__product-img {
        }
        // .category__product-name
        &__product-name {
        }
        // .category__product-prename
        &__product-prename {
        }
        // .category__product-no-have
        &__product-no-have {
            margin: 4px 0;
        }
        // .category__product-price
        &__product-price {
        }
        // .category__product-btn
        &__product-btn {
        }
    }
}


.prod-1 {
}
.prod-2 {
}
.prod-3 {
}
.tex-1 {
}
.tex-3 {
}
.tex-4 {
}
