.hero {
    
    // .hero__wrapper
    &__wrapper {
        display: flex;
        gap: 20px;
        align-items: center;
        
        @media (max-width: $breakpoint992) {
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }
    }
    
    // .hero__swiper
    &__swiper {
        max-width: 1060px;
        width: 100%;
        height: 370px;
        
        @media (max-width: $breakpoint992) {
            max-width: 100%;
            height: 240px;
        }
        
        @media (max-width: $breakpoint480) {
            height: 200px;
        }
    }
    
    // .hero__slider
    &__slider {}
    
    // .hero__slide
    &__slide {
        width: 100%;
        border-radius: 10px;
        
        background-image: url(../img/hero/hero-slider-1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        @media (max-width: $breakpoint480) {
            background-position: top;
        }
    }
    
    // .hero__pagination
    &__pagination {
        width: auto !important;
        left: 20px !important;
        margin-right: auto;
        
        
        .swiper-pagination-bullet-active {
            width: 15px;
            border-radius: 10px;
            transition: all .3s;
            background: $mainWhite;
        }
        
        span {
            transition: all .3s;
            margin: 0 2px !important;
        }
    }
    
    // .hero__title
    &__title {
        position: absolute;
        top: 130px;
        left: 80px;
        z-index: 10;
        color: $mainWhite;
        
        max-width: 370px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        
        @media (max-width: $breakpoint992) {
            top: 45px;
        }
        
        @media (max-width: $breakpoint768) {
            font-size: 14px;
            line-height: 20px;
            gap: 10px;
            max-width: 250px;
            left: 40px;
        }
        
        @media (max-width: $breakpoint480) {
            top: 30px;
            left: 20px;
            max-width: 210px;
        }
        
        img {
            max-width: 100%;
            
            @media (max-width: $breakpoint768) {
                max-width: 150px;
            }
        }
    }
    
    // .hero__content
    &__content {
        width: 100%;
        max-width: 340px;
        height: 370px;
        padding: 70px 60px;
        color: $mainWhite;
        border-radius: 10px;
        
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        background-image: url(../img/hero/hero-content-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        @media (max-width: $breakpoint1450) {
            max-width: 300px;
            padding: 70px 40px;
        }
        
        @media (max-width: $breakpoint992) {
            max-width: 100%;
            height: 300px;
        }
        
        @media (max-width: $breakpoint480) {
            height: 240px;
            gap: 15px;
        }
    }
    
    // .hero__text
    &__text {
        line-height: 22px;
        
        span {
            font-weight: 700;
            font-size: 18px;
        }
    }
    
    // .hero__btn
    &__btn {
        font-weight: 700;
        width: 100%;
        color: $mainWhite;
        justify-content: center;
        
        background: linear-gradient(90deg, rgb(5, 146, 114), rgb(5, 146, 114));
        
        &:hover {
            // background: $hoverBlue;
        }
    }
    
    &__btns {
        position: absolute;
        right: 25px;
        bottom: 25px;
        width: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    // Hero swiper
    .swiper {}
    
    .swiper-wrapper {}
    
    .swiper-slide {}
    
    .swiper-pagination {}
    
    .hero-btn-prev {
        position: relative;
        background: #1263a0;
        
        @media (max-width: $breakpoint480) {
            display: none;
        }
    }
    
    .hero-btn-next {
        position: relative;
        background: #1263a0;
        
        @media (max-width: $breakpoint480) {
            display: none;
        }
    }
}


// ALL SWIPER BUTTONS

.swiper-button-prev {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: inherit;
    
    transform: rotate(-180deg);
    
    &::after {
        content: '';
    }
    
    svg {
        position: relative;
        z-index: 2;
    }
}

.swiper-button-next {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: inherit;
    
    &::after {
        content: '';
    }
    
    svg {
        position: relative;
        z-index: 2;
    }
}


.pop-btn {
    &__bottom{
        background: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    &__bottom-wrapper{
        position: fixed;
        display: flex;
        justify-content: flex-end;
        right: 57px;
        bottom: 31px;
        z-index: 9999;
        visibility: hidden;
        width: 300px;
        // background-image: url(../img/pop-img.png);
        border-radius: 20px;
        
        img{
            background-color: #1263a0;
            border-radius: 50%;
        }
    }
    &__active{
        visibility: visible;
    }
    position: fixed;
    z-index: 4;
    
    right: 40px;
    bottom: 36px;
    
    max-width: 400px;
    width: 100%;
    height: 150px;
    padding: 30px;
    border-radius: 10px;
    
    background-image: url(../img/pop-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    opacity: 1;
    
    transition: all .4s;
    &:hover {
        transform: scale(1.01);
        box-shadow: 1px 1px 10px 1px rgba(18, 126, 18, 0.363);
    }
    
    @media (max-width: $breakpoint768) {
        max-width: 300px;
        height: 120px;
        
        right: 20px;
        bottom: 35px;
    }
    
    @media (max-width: $breakpoint480) {
        max-width: 240px;
        height: 110px;
        padding: 15px;
        
        right: 10px;
        bottom: 10px;
    }
    
    // .pop-btn__text
    &__text {
        color: $mainWhite;
        font-size: 16px;
        line-height: 24px;
        
        max-width: 220px;
        
        @media (max-width: $breakpoint768) {
            font-size: 14px;
            line-height: 20px;
        }
        
        @media (max-width: $breakpoint480) {
            max-width: 170px;
        }
    }
    
    // .pop-btn__close
    &__close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        border: 0;
        outline: 0;
        border-radius: 5px;
        
        img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        // border-radius: 20px;
    }
    
}


.display-none {
    display: none;
}