.mission-hero {
   .about-company {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 2fr;
      margin-bottom: 32px;

      .logo {
         margin-top: 20px;
         max-width: 360px;
         width: 100%;
      }

      .about-image {
         height: 500px;
      }

      &__text {
         background-color: #fff;
         padding: 30px 40px;
         border-radius: 10px;

         .about-company__title {
            color: #2B2A28;
            font-weight: 700;
            font-size: 42px;
            line-height: 54px;
            margin-bottom: 32px;
            text-align: center;

            @media (max-width: 576px) {
               font-size: 30px;
               margin-bottom: 15px;
            }
         }

         .about-company__para {
            color: $mainBlue;
            margin-bottom: 20px;
         }
      }

      &__features {
         background-color: #fff;
         display: flex;
         padding-top: 20px;
         border-radius: 10px;
         gap: 40px;
         align-items: center;

         .about-paras {
            padding: 20px;
         }

         .about-paras p {
            margin-bottom: 12px;
         }

         p {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
         }

         @media (max-width: 650px) {
            flex-direction: column;

            img {
               display: none;
               object-fit: contain;
               left: 0;
               width: 228px;
               position: relative;
            }
         }

      }

      @media (max-width: $breakpoint992) {
         grid-template-columns: 1fr;
      }
   }

   .mission-second__hero {
      margin-top: 80px;

      display: flex;
      margin-bottom: 32px;

      div {
         display: flex;
         flex-direction: column;
         align-items: baseline;
      }

      h4 {
         font-weight: 700;
         font-size: 38px;
         line-height: 54px;
         text-align: left;
         margin-bottom: 32px;

         span {
            color: $mainBlue;
         }
      }

      img {
         height: 345px;
         object-fit: contain;
      }

      .mission_title_hidden {
         display: none;
      }

      .mission-second__para {
         border-radius: 7px;
         background-color: $mainGreen;
         color: #fff;
         padding: 2px 8px;
         margin-bottom: 16px;
      }

      .mission-second__para-wrapper {
         padding: 18px 24px;
         background: #FFFFFF;
         box-shadow: 0px 20px 16px rgba(168, 196, 217, 0.2);
         border-radius: 15px;
      }

      @media (max-width: $breakpoint992) {
         flex-direction: column;

         .mission_title {
            display: none;
         }

         .mission_title_hidden {
            display: block;
         }
      }

      @media (max-width: 576px) {
         flex-direction: column;

         img {
            width: 100%;
         }

         .mission_title {
            display: none;
         }

         .mission_title_hidden {
            display: block;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
         }
      }
   }


}

.mission-plan {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   margin-bottom: 32px;

   &__left {
      max-width: 300px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 320px;
      border-radius: 10px;
      background-color: #fff;
      margin-right: 4px;

   }

   &__right {
      position: relative;
      right: -310px;
      gap: 4px;

      @media (max-width: 576px) {
         right: 0;
         padding: 20px;
         // flex-wrap: wrap;
      }

      &-item {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 320px;
         max-width: 276px;
         background-color: #fff;
         border-radius: 10px;
         padding: 20px;
         cursor: pointer;

         h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 54px;
         }

         &:hover {
            background-image: url("../img/missionplan.png");
            background-size: cover;
            background-repeat: no-repeat;

            h3 {
               color: #fff;
            }

            p {
               color: #fff;
            }
         }
      }
   }
}


.project__title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 27px;
}

.mission-aim {
   padding: 130px 0;
   background-image: url("../img/missionsign.png");
   background-size: cover;
   margin-bottom: 32px;

   &__wrapper {
      display: flex;
      flex-direction: column;


      h3 {
         background: #FFFFFF;
         border-radius: 10px;
         font-weight: 700;
         font-size: 16px;
         line-height: 22px;
         padding: 8px 22px;
         align-self: center;
         margin-bottom: 50px;
      }

      h2 {
         font-weight: 300;
         font-size: 130px;
         line-height: 90.4%;
         color: #fff;
         margin-bottom: 12px;
         text-align: center;

         @media (max-width: 576px) {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 100px;
         }

         span {
            color: $mainBlue;
         }
      }

      p {
         color: #fff;
         text-align: center;
         max-width: 400px;
         margin: 0 auto;
         @media (max-width: 576px) {
            padding: 20px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            text-align: center;
         }
      }
   }
}

.project-wrapper {
   display: grid;
   gap: 20px;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: flex-start;

   &__item {
      background-color: #fff;
      border-radius: 10px;
      padding: 20px 30px;
      text-align: center;

      img {
         margin-bottom: 24px;
      }

      h4 {
         margin-bottom: 12px;
         font-weight: 700;
      }
   }

   // &__item:nth-child(2) {
   //    height: 250px;
   // }
   @media (max-width: $breakpoint992) {
      grid-template-columns: 1fr 1fr;

   }

   @media (max-width: 576px) {
      grid-template-columns: 1fr;

   }
}


.mission-card__history {
   margin-top: 90px;

   .swiper-slide-active{
      background-color: #004D8C;
      color: #fff;
   }
   .mission-card__history-first {
      background-image: url("../img/missionsecondbanner.png");
      width: 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px 60px 80px 60px;
      border-radius: 50px 50px 0px 0px;

      h4 {
         font-weight: 700;
         font-size: 32px;
         line-height: 44px;
         color: #fff;
         margin-bottom: 16px;
      }

      p {
         color: #fff;
         background-color: $mainGreen;
         border-radius: 10px;
         padding: 4px 12px;
         font-weight: 700;
      }
   }

   .mission-card__history-second {
      background-color: #fff;
      padding: 20px;
      position: relative;
      max-width: 100%;
      bottom: 40px;
      margin: 0 auto;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 27.99%), #FFFFFF;
      border-radius: 50px;

      &__wrapper {
         display: flex;
         flex-direction: column;
         max-width: 500px;
         margin: 0 auto;
         text-align: center;

         h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 16px;
         }

         p {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
         }
      }

      ul {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-bottom: 32px;

         li {
            margin-right: 16px;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
         }
      }
   }
}


.salom {
   height: -webkit-fill-available;
   width: 300px;
   top: -3px;
   left: 0;
   z-index: 99999999;
   position: absolute;
   border-radius: 10px;
   background-color: #fff;
   display: flex;
   padding: 50px;
   flex-direction: column;

   @media(max-width: 576px) {
      display: none;
   }

}

.swiper-wrapper {
   @media (max-width: 576px) {
      height: 400px !important;
   }
}

.ozim-next {
   @media(max-width: 576px) {
      position: absolute;
      left: 170px;
   }
}

.test_next,
.test_prev {
   background-color: #004D8C;
   @media (max-width: 576px) {
      position: absolute;
      top: 90px;
   }
}

.ozim-prev {
   @media(max-width: 576px) {
      position: absolute;
      left: 120px;
   }
}

.info {
   display: none;

   @media(max-width: 576px) {
      text-align: center;
      display: block;
   }

   h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #2B2A28;
   }

   p {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #004D8C;
   }
}

.wrap_2009 {
   @media(max-width: 576px) {
      height: max-content !important;
      // margin-top: 50px;
      margin-bottom: 80px;
   }
}

.mission-btns {
   .mission-btns__wrapper {
      position: absolute;
      top: 205px;
      right: 265px;

   }

   &__wrapper-two {
      display: none;

      @media (max-width: 576px) {
         display: block;
         margin: auto;
         position: absolute;
         bottom: 50px !important;
         top: auto !important;
         left: 50% !important;
         left: auto !important;
         background: #1263a0;
      }
   }

   .mission-swiper__btn:nth-child(2) {
      right: -95px;
   }

   h3 {
      font-weight: 700;
      font-size: 30px;
      line-height: 38px;
   }

   p {
      color: $mainBlue;
   }

   div {
      background: #1263a0;
   }
}

.hisory__btns {
   div {
      background-color: #1263a0;
   }
}

.mission-card__list {
   justify-content: center;
   gap: 15px;
}

.mission-card__item {
   padding: 8px;
   display: flex;
   justify-content: center;
   align-items: center;

   color: #2B2A28;
   border-radius: 50%;
   width: 60px !important;
   height: 60px;

   @media (max-width: 576px) {
      width: 42px !important;
      height: 42px;
      font-size: 14px;
   }
}

.swiper-number-slide-active {
   background-color: #1263a0;
   color: #fff;
}

.mission-second__hero {
   img {
      @media (max-width: 600px) {
         width: 360px;
      }
   }
}